In [2]:
import numpy as np
import pandas as pd

dataset = 'datasets/nhanes_2015_2016.csv'
df = pd.read_csv(dataset)

In [4]:
df.shape

(5735, 28)

In [5]:
df.columns

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [6]:
df.dtypes

SEQN          int64
ALQ101      float64
ALQ110      float64
ALQ130      float64
SMQ020        int64
RIAGENDR      int64
RIDAGEYR      int64
RIDRETH1      int64
DMDCITZN    float64
DMDEDUC2    float64
DMDMARTL    float64
DMDHHSIZ      int64
WTINT2YR    float64
SDMVPSU       int64
SDMVSTRA      int64
INDFMPIR    float64
BPXSY1      float64
BPXDI1      float64
BPXSY2      float64
BPXDI2      float64
BMXWT       float64
BMXHT       float64
BMXBMI      float64
BMXLEG      float64
BMXARML     float64
BMXARMC     float64
BMXWAIST    float64
HIQ210      float64
dtype: object

In [7]:
df.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,...,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,...,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,...,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,...,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

In [10]:
x = df.loc[:, "DMDEDUC2"]
x

0       5.0
1       3.0
2       3.0
3       5.0
4       4.0
       ...
5730    3.0
5731    5.0
5732    4.0
5733    1.0
5734    5.0
Name: DMDEDUC2, Length: 5735, dtype: float64

In [13]:
print(df.loc[:, "DMDEDUC2"].max())

9.0

In [14]:
print(type(df.iloc[2,:]))

<class 'pandas.core.series.Series'>

In [17]:
x = df.iloc[3,:]
x

SEQN         83735.0
ALQ101           2.0
ALQ110           1.0
ALQ130           1.0
SMQ020           2.0
RIAGENDR         2.0
RIDAGEYR        56.0
RIDRETH1         3.0
DMDCITZN         1.0
DMDEDUC2         5.0
DMDMARTL         6.0
DMDHHSIZ         1.0
WTINT2YR    102718.0
SDMVPSU          1.0
SDMVSTRA       131.0
INDFMPIR         5.0
BPXSY1         132.0
BPXDI1          72.0
BPXSY2         134.0
BPXDI2          68.0
BMXWT          109.8
BMXHT          160.9
BMXBMI          42.4
BMXLEG          38.5
BMXARML         37.7
BMXARMC         38.3
BMXWAIST       110.1
HIQ210           2.0
Name: 3, dtype: float64

In [18]:
y = df.iloc[:,2:5]
y

      ALQ110  ALQ130  SMQ020
0        NaN     1.0       1
1        NaN     6.0       1
2        NaN     NaN       1
3        1.0     1.0       2
4        1.0     1.0       2
...      ...     ...     ...
5730     2.0     NaN       1
5731     2.0     NaN       2
5732     NaN     1.0       1
5733     NaN     NaN       1
5734     NaN     2.0       2

[5735 rows x 3 columns]

In [19]:
full_dmdeduc2 = df.DMDEDUC2
full_dmdeduc2

0       5.0
1       3.0
2       3.0
3       5.0
4       4.0
       ...
5730    3.0
5731    5.0
5732    4.0
5733    1.0
5734    5.0
Name: DMDEDUC2, Length: 5735, dtype: float64

In [20]:
pd.set_option('display.max_rows', 500,'display.max_columns', 500)
#da.head(100)
full_dmdeduc2.head(25)

0     5.0
1     3.0
2     3.0
3     5.0
4     4.0
5     2.0
6     4.0
7     4.0
8     NaN
9     3.0
10    5.0
11    2.0
12    4.0
13    5.0
14    5.0
15    1.0
16    NaN
17    5.0
18    4.0
19    4.0
20    2.0
21    3.0
22    1.0
23    5.0
24    2.0
Name: DMDEDUC2, dtype: float64

In [21]:
no_nulls = full_dmdeduc2.dropna()
no_nulls.head(25)

0     5.0
1     3.0
2     3.0
3     5.0
4     4.0
5     2.0
6     4.0
7     4.0
9     3.0
10    5.0
11    2.0
12    4.0
13    5.0
14    5.0
15    1.0
17    5.0
18    4.0
19    4.0
20    2.0
21    3.0
22    1.0
23    5.0
24    2.0
25    5.0
26    4.0
Name: DMDEDUC2, dtype: float64

In [22]:
pd.set_option('display.max_rows', 500)
#da.head(100)
no_nulls.head(100)

0      5.0
1      3.0
2      3.0
3      5.0
4      4.0
5      2.0
6      4.0
7      4.0
9      3.0
10     5.0
11     2.0
12     4.0
13     5.0
14     5.0
15     1.0
17     5.0
18     4.0
19     4.0
20     2.0
21     3.0
22     1.0
23     5.0
24     2.0
25     5.0
26     4.0
27     5.0
28     4.0
29     1.0
30     4.0
31     5.0
32     1.0
33     2.0
34     4.0
35     5.0
36     3.0
37     4.0
38     3.0
39     3.0
40     4.0
41     4.0
42     5.0
43     1.0
44     5.0
45     1.0
46     4.0
47     1.0
48     5.0
49     3.0
50     3.0
51     5.0
52     1.0
53     3.0
55     2.0
56     4.0
57     2.0
58     1.0
60     4.0
61     3.0
62     3.0
63     5.0
64     4.0
65     5.0
66     4.0
68     3.0
69     2.0
70     4.0
71     5.0
72     3.0
73     1.0
74     3.0
75     2.0
76     5.0
77     3.0
78     1.0
79     5.0
80     2.0
81     3.0
82     4.0
83     5.0
84     2.0
85     5.0
87     4.0
88     3.0
89     3.0
90     5.0
91     4.0
92     1.0
93     5.0
94     4.0
95     4.0
96     5.0
97     3.0
98     4.0
99     3.0
100    4.0
101    1.0
102    4.0
103    4.0
105    1.0
106    1.0
Name: DMDEDUC2, dtype: float64

In [23]:
pd.set_option('display.max_columns', 500)
#da.head(100)
no_nulls.head(100)

0      5.0
1      3.0
2      3.0
3      5.0
4      4.0
5      2.0
6      4.0
7      4.0
9      3.0
10     5.0
11     2.0
12     4.0
13     5.0
14     5.0
15     1.0
17     5.0
18     4.0
19     4.0
20     2.0
21     3.0
22     1.0
23     5.0
24     2.0
25     5.0
26     4.0
27     5.0
28     4.0
29     1.0
30     4.0
31     5.0
32     1.0
33     2.0
34     4.0
35     5.0
36     3.0
37     4.0
38     3.0
39     3.0
40     4.0
41     4.0
42     5.0
43     1.0
44     5.0
45     1.0
46     4.0
47     1.0
48     5.0
49     3.0
50     3.0
51     5.0
52     1.0
53     3.0
55     2.0
56     4.0
57     2.0
58     1.0
60     4.0
61     3.0
62     3.0
63     5.0
64     4.0
65     5.0
66     4.0
68     3.0
69     2.0
70     4.0
71     5.0
72     3.0
73     1.0
74     3.0
75     2.0
76     5.0
77     3.0
78     1.0
79     5.0
80     2.0
81     3.0
82     4.0
83     5.0
84     2.0
85     5.0
87     4.0
88     3.0
89     3.0
90     5.0
91     4.0
92     1.0
93     5.0
94     4.0
95     4.0
96     5.0
97     3.0
98     4.0
99     3.0
100    4.0
101    1.0
102    4.0
103    4.0
105    1.0
106    1.0
Name: DMDEDUC2, dtype: float64

In [25]:
print(pd.notnull(df.DMDEDUC2).sum())

5474