In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('datasets/EPL_20_21.csv')
df.head()

,Name,Club,Nationality,Position,Age,Matches,Starts,Mins,Goals,Assists,Passes_Attempted,Perc_Passes_Completed,Penalty_Goals,Penalty_Attempted,xG,xA,Yellow_Cards,Red_Cards
0,Mason Mount,Chelsea,ENG,"MF,FW",21,36,32,2890,6,5,1881,82.3,1,1,0.21,0.24,2,0
1,Edouard Mendy,Chelsea,SEN,GK,28,31,31,2745,0,0,1007,84.6,0,0,0.00,0.00,2,0
2,Timo Werner,Chelsea,GER,FW,24,35,29,2602,6,8,826,77.2,0,0,0.41,0.21,2,0
3,Ben Chilwell,Chelsea,ENG,DF,23,27,27,2286,3,5,1806,78.6,0,0,0.10,0.11,3,0
4,Reece James,Chelsea,ENG,DF,20,32,25,2373,1,2,1987,85.0,0,0,0.06,0.12,3,0

In [4]:
df.columns

Index(['Name', 'Club', 'Nationality', 'Position', 'Age', 'Matches', 'Starts',
       'Mins', 'Goals', 'Assists', 'Passes_Attempted', 'Perc_Passes_Completed',
       'Penalty_Goals', 'Penalty_Attempted', 'xG', 'xA', 'Yellow_Cards',
       'Red_Cards'],
      dtype='object')

In [5]:
for i in df.columns:
    print(i)

Name
Club
Nationality
Position
Age
Matches
Starts
Mins
Goals
Assists
Passes_Attempted
Perc_Passes_Completed
Penalty_Goals
Penalty_Attempted
xG
xA
Yellow_Cards
Red_Cards

In [6]:
df.dtypes

Name                      object
Club                      object
Nationality               object
Position                  object
Age                        int64
Matches                    int64
Starts                     int64
Mins                       int64
Goals                      int64
Assists                    int64
Passes_Attempted           int64
Perc_Passes_Completed    float64
Penalty_Goals              int64
Penalty_Attempted          int64
xG                       float64
xA                       float64
Yellow_Cards               int64
Red_Cards                  int64
dtype: object

In [7]:
df.shape

(532, 18)

In [8]:
df.size

9576

In [9]:
df.index

RangeIndex(start=0, stop=532, step=1)

In [11]:
print(type(df.columns))
print(type(df.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

In [12]:
df.columns.tolist()

['Name',
 'Club',
 'Nationality',
 'Position',
 'Age',
 'Matches',
 'Starts',
 'Mins',
 'Goals',
 'Assists',
 'Passes_Attempted',
 'Perc_Passes_Completed',
 'Penalty_Goals',
 'Penalty_Attempted',
 'xG',
 'xA',
 'Yellow_Cards',
 'Red_Cards']

In [13]:
df.describe()

,Age,Matches,Starts,Mins,Goals,Assists,Passes_Attempted,Perc_Passes_Completed,Penalty_Goals,Penalty_Attempted,xG,xA,Yellow_Cards,Red_Cards
count,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000,532.000000
mean,25.500000,19.535714,15.714286,1411.443609,1.853383,1.287594,717.750000,77.823872,0.191729,0.234962,0.113289,0.072650,2.114662,0.090226
std,4.319404,11.840459,11.921161,1043.171856,3.338009,2.095191,631.372522,13.011631,0.850881,0.975818,0.148174,0.090072,2.269094,0.293268
min,16.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22.000000,9.000000,4.000000,426.000000,0.000000,0.000000,171.500000,73.500000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000
50%,26.000000,21.000000,15.000000,1345.000000,1.000000,0.000000,573.500000,79.200000,0.000000,0.000000,0.060000,0.050000,2.000000,0.000000
75%,29.000000,30.000000,27.000000,2303.500000,2.000000,2.000000,1129.500000,84.625000,0.000000,0.000000,0.150000,0.110000,3.000000,0.000000
max,38.000000,38.000000,38.000000,3420.000000,23.000000,14.000000,3214.000000,100.000000,9.000000,10.000000,1.160000,0.900000,12.000000,2.000000

In [15]:
x = df.loc[:, "Matches"]
x

0      36
1      31
2      35
3      27
4      32
       ..
527    11
528     2
529     1
530     1
531     1
Name: Matches, Length: 532, dtype: int64

In [16]:
print(df.loc[:,"Matches"].max())

38

In [17]:
print(df.loc[:,"Matches"].min())

1

In [20]:
print(df.iloc[2,:])

Name                     Timo Werner
Club                         Chelsea
Nationality                      GER
Position                          FW
Age                               24
Matches                           35
Starts                            29
Mins                            2602
Goals                              6
Assists                            8
Passes_Attempted                 826
Perc_Passes_Completed           77.2
Penalty_Goals                      0
Penalty_Attempted                  0
xG                              0.41
xA                              0.21
Yellow_Cards                       2
Red_Cards                          0
Name: 2, dtype: object

In [22]:
print(df.iloc[:,2])

0      ENG
1      SEN
2      GER
3      ENG
4      ENG
      ...
527    FRA
528    ENG
529    FRA
530    ENG
531    ENG
Name: Nationality, Length: 532, dtype: object

In [ ]:
#ver si hay que ver cómo ver valores nulos y eliminarlos

In [23]:
full_matches = df.Matches
full_matches

0      36
1      31
2      35
3      27
4      32
       ..
527    11
528     2
529     1
530     1
531     1
Name: Matches, Length: 532, dtype: int64

In [25]:
pd.set_option('display.max_rows', 500, 'display.max_columns',500)
full_matches.head(25)

0     36
1     31
2     35
3     27
4     32
5     26
6     30
7     28
8     23
9     24
10    27
11    19
12    27
13    27
14    17
15    23
16    22
17    13
18    23
19    17
20     7
21     5
22     1
23     1
24     2
Name: Matches, dtype: int64

In [27]:
no_nulls = full_matches.dropna()
no_nulls.head(25)

0     36
1     31
2     35
3     27
4     32
5     26
6     30
7     28
8     23
9     24
10    27
11    19
12    27
13    27
14    17
15    23
16    22
17    13
18    23
19    17
20     7
21     5
22     1
23     1
24     2
Name: Matches, dtype: int64

In [28]:
pd.set_option('display.max_rows',500)
no_nulls.head(100)

0     36
1     31
2     35
3     27
4     32
5     26
6     30
7     28
8     23
9     24
10    27
11    19
12    27
13    27
14    17
15    23
16    22
17    13
18    23
19    17
20     7
21     5
22     1
23     1
24     2
25     1
26     2
27    36
28    32
29    34
30    31
31    28
32    26
33    28
34    25
35    27
36    29
37    24
38    22
39    28
40    20
41    24
42    16
43    21
44    13
45    10
46    12
47     6
48     1
49     1
50     1
51    37
52    34
53    34
54    37
55    32
56    29
57    30
58    26
59    32
60    26
61    31
62    22
63    26
64    13
65    20
66    15
67    12
68     9
69     9
70    19
71     9
72     4
73     3
74     2
75     1
76     2
77     1
78     1
79     1
80    38
81    37
82    36
83    38
84    33
85    36
86    35
87    30
88    24
89    21
90    17
91    24
92    19
93    26
94     9
95    10
96     9
97    10
98     7
99    14
Name: Matches, dtype: int64

In [29]:
print(pd.notnull(df.Matches).sum())

532