In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 100)
df = pd.read_csv('datasets/nhanes_2015_2016.csv')
df.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,1.0,2,134671.37,1,125,4.39,128.0,70.0,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,3.0,1,24328.56,1,125,1.32,146.0,88.0,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,1.0,2,12400.01,1,131,1.51,138.0,46.0,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,6.0,1,102718.00,1,131,5.00,132.0,72.0,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,3.0,5,17627.67,2,126,1.23,100.0,70.0,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

# Take dataframe from only certain columns

In [3]:
col_names= df.columns
col_names

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [5]:
[column for column in col_names if 'BMX' in column]
#One way to get only column names that include 'BMX' is with list comprehension
# [keep x for x in list if condition met]

['BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC', 'BMXWAIST']

In [6]:
keep = [column for column in col_names if 'BMX' in column]
keep

['BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC', 'BMXWAIST']

In [7]:
df[keep]

      BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0      94.8  184.5    27.8    43.3     43.6     35.9     101.1
1      90.4  171.4    30.8    38.0     40.0     33.2     107.9
2      83.4  170.1    28.8    35.6     37.0     31.0     116.5
3     109.8  160.9    42.4    38.5     37.7     38.3     110.1
4      55.2  164.9    20.3    37.4     36.0     27.2      80.4
...     ...    ...     ...     ...      ...      ...       ...
5730   59.1  165.8    21.5    38.2     37.0     29.5      95.0
5731  112.1  182.2    33.8    43.4     41.8     42.3     110.2
5732   71.7  152.2    31.0    31.3     37.5     28.8       NaN
5733   78.2  173.3    26.0    40.3     37.5     30.6      98.9
5734   58.3  165.0    21.4    38.2     33.5     26.2      72.5

[5735 rows x 7 columns]

In [9]:
df_BMX=df[keep]
df_BMX.head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

# Seleccionar datos con .loc o .iloc

In [13]:
df.loc[:,keep].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

In [12]:
#Identifies which columns have the keep condition by putting True or False
index_bool = np.isin(df.columns,keep)
index_bool

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False])

In [14]:
#If iloc will be used then it´s necessary transform columns into index
df.iloc[:,index_bool].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

In [15]:
df.loc[:,index_bool].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

# Selección de datos con condiciones

In [17]:
df_BMX.dtypes

BMXWT       float64
BMXHT       float64
BMXBMI      float64
BMXLEG      float64
BMXARML     float64
BMXARMC     float64
BMXWAIST    float64
dtype: object

In [20]:
waist_median = pd.Series.median(df_BMX['BMXWAIST'])
waist_median

98.3

In [21]:
waist_mean = pd.Series.mean(df_BMX['BMXWAIST'])
waist_mean

99.56721311475411

In [22]:
df_BMX[df_BMX['BMXWAIST']> waist_median].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
9  108.3  179.4    33.6    46.0     44.1     38.5     116.0

In [25]:
#Add conditions
condition1 = df_BMX['BMXWAIST'] > waist_median
condition2 = df_BMX['BMXLEG'] < 32

df_BMX[condition1 & condition2].head()

    BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
15   80.5  150.8    35.4    31.6     32.7     33.7     113.5
27   75.6  145.2    35.9    31.0     33.1     36.0     108.0
39   63.7  147.9    29.1    26.0     34.0     31.5     110.0
52  105.9  157.7    42.6    29.2     35.0     40.7     129.1
55   77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [27]:
df_BMX.loc[condition1 & condition2, :].head() 
#The .loc method is describing the rows to keep

    BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
15   80.5  150.8    35.4    31.6     32.7     33.7     113.5
27   75.6  145.2    35.9    31.0     33.1     36.0     108.0
39   63.7  147.9    29.1    26.0     34.0     31.5     110.0
52  105.9  157.7    42.6    29.2     35.0     40.7     129.1
55   77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [29]:
tmp = df_BMX.loc[condition1 & condition2, :].head()
tmp.index = ['Primera','Segunda','Tercera','Cuarta','Quinta']
tmp

         BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
Primera   80.5  150.8    35.4    31.6     32.7     33.7     113.5
Segunda   75.6  145.2    35.9    31.0     33.1     36.0     108.0
Tercera   63.7  147.9    29.1    26.0     34.0     31.5     110.0
Cuarta   105.9  157.7    42.6    29.2     35.0     40.7     129.1
Quinta    77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [30]:
tmp.loc[['Primera','Segunda'], 'BMXLEG']

Primera    31.6
Segunda    31.0
Name: BMXLEG, dtype: float64

In [31]:
tmp.iloc[[0,1],3]

Primera    31.6
Segunda    31.0
Name: BMXLEG, dtype: float64

# Seleccionar y reemplazar datos

In [32]:
tmp

         BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
Primera   80.5  150.8    35.4    31.6     32.7     33.7     113.5
Segunda   75.6  145.2    35.9    31.0     33.1     36.0     108.0
Tercera   63.7  147.9    29.1    26.0     34.0     31.5     110.0
Cuarta   105.9  157.7    42.6    29.2     35.0     40.7     129.1
Quinta    77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [34]:
tmp.iloc[0:3, 2] = [0]*3
tmp.iloc[0:3, 2]

Primera    0.0
Segunda    0.0
Tercera    0.0
Name: BMXBMI, dtype: float64

In [40]:
tmp['BMXWAIST'] = range(1,6)
tmp

         BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
Primera   80.5  150.8       0    31.6     32.7     33.7         1
Segunda   75.6  145.2       1    31.0     33.1     36.0         2
Tercera   63.7  147.9       2    26.0     34.0     31.5         3
Cuarta   105.9  157.7       3    29.2     35.0     40.7         4
Quinta    77.5  148.3       4    30.5     34.0     34.4         5

In [42]:
tmp.loc[tmp.BMXBMI > 2, 'BMXBMI'] = [10]*2
tmp

         BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
Primera   80.5  150.8       0    31.6     32.7     33.7         1
Segunda   75.6  145.2       1    31.0     33.1     36.0         2
Tercera   63.7  147.9       2    26.0     34.0     31.5         3
Cuarta   105.9  157.7      10    29.2     35.0     40.7         4
Quinta    77.5  148.3      10    30.5     34.0     34.4         5